<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>stand_3_0000.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{359,225}}</string>
			<key>offset</key>
			<string>{-269,-151}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{206,324},{359,225}}</string>
			<key>sourceSize</key>
			<string>{950,950}</string>
		</dict>
		<key>stand_3_0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,1},{358,226}}</string>
			<key>offset</key>
			<string>{-268,-152}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,323},{358,226}}</string>
			<key>sourceSize</key>
			<string>{950,950}</string>
		</dict>
		<key>stand_3_0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,229},{351,226}}</string>
			<key>offset</key>
			<string>{-261,-152}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{214,323},{351,226}}</string>
			<key>sourceSize</key>
			<string>{950,950}</string>
		</dict>
		<key>stand_3_0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,674},{349,226}}</string>
			<key>offset</key>
			<string>{-259,-152}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,323},{349,226}}</string>
			<key>sourceSize</key>
			<string>{950,950}</string>
		</dict>
		<key>stand_3_0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,457},{349,223}}</string>
			<key>offset</key>
			<string>{-259,-152}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,323},{349,223}}</string>
			<key>sourceSize</key>
			<string>{950,950}</string>
		</dict>
		<key>stand_3_0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,674},{350,221}}</string>
			<key>offset</key>
			<string>{-260,-152}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{215,323},{350,221}}</string>
			<key>sourceSize</key>
			<string>{950,950}</string>
		</dict>
		<key>stand_3_0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,450},{351,222}}</string>
			<key>offset</key>
			<string>{-261,-152}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{214,323},{351,222}}</string>
			<key>sourceSize</key>
			<string>{950,950}</string>
		</dict>
		<key>stand_3_0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,228},{358,220}}</string>
			<key>offset</key>
			<string>{-268,-151}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{207,324},{358,220}}</string>
			<key>sourceSize</key>
			<string>{950,950}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>test_image/stand.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>test_image/stand.png</string>
	</dict>
</dict>
</plist>
